@import url(https://fonts.googleapis.com/css?family=Lobster+Two);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
/*****
Theme Name: Beauty
Theme URI: 
Author: Ahmed I.
Description: Beauty Blog theme
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: googlefootball
Domain Path: /languages/
*****/
/* ---------- RESET ---------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
input {
  margin: 0;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
input,
textarea {
  outline: none;
}
strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clear {
  clear: both;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
p a,
span a,
h5 a {
  color: #4599c8;
}
p a:hover,
span a:hover,
h5 a:hover {
  color: #2b3039;
}
.fancy-hr {
  border: none;
  height: 1px;
  background: #e4e4e4;
  -webkit-box-shadow: 0px 0px 7px #d7d7d7;
  box-shadow: 0px 0px 7px #d7d7d7;
  margin: 3em 0;
}
article img {
  height: auto !important;
}
/* ---------- PARAMETRIC MIXINS ---------- */
/* VARIABLES */
/* ---------- General ---------- */
@font-face {
  font-family: clipperScript;
  src: url(fonts/Clipper_Script.ttf);
}
@font-face {
  font-family: clipperScriptFat;
  src: url(fonts/Clipper_Script_fat.ttf);
  font-weight: bold;
}
body {
  position: relative;
  background: #fbe1e4;
  background: -moz-linear-gradient(left, #fbe1e4 0%, #fef0ef 22%, #f9eef2 50%, #fcecec 73%, #fdeded 100%);
  background: -webkit-linear-gradient(left, #fbe1e4 0%, #fef0ef 22%, #f9eef2 50%, #fcecec 73%, #fdeded 100%);
  background: linear-gradient(to right, #fbe1e4 0%, #fef0ef 22%, #f9eef2 50%, #fcecec 73%, #fdeded 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbe1e4', endColorstr='#fdeded', GradientType=1);
  /*background-image: url("img/bg.png");
	background-repeat: repeat-y;
	background-position: center;
	background-color: #fcf0f2 !important;*/
}
#gototop {
  position: fixed;
  right: 3%;
  bottom: 9%;
  z-index: 999999999999;
  cursor: pointer;
  display: none;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.round-img {
  border: 2px solid #e07590;
  border-radius: 50%;
}
.beauty li a {
  background-color: #f1b7cd;
}
.beauty .post-title,
.beauty a {
  color: #e07590;
}
.beauty form input,
.beauty form textarea {
  border: 2px solid #f1b7cd !important;
}
.beauty form label,
.beauty form p {
  color: #e07590 !important;
}
.beauty form input[type='submit'],
.beauty form input[type='button'] {
  background-color: #f1b7cd !important;
}
.fashion li a {
  background-color: #90d0b2 ;
}
.fashion .post-title,
.fashion a {
  color: #90d0b2;
}
.fashion form input,
.fashion form textarea {
  border: 2px solid #90d0b2 !important;
}
.fashion form label,
.fashion form p {
  color: #90d0b2 !important;
}
.fashion form input[type='submit'],
.fashion form input[type='button'] {
  background-color: #90d0b2 !important;
}
.travel li a {
  background-color: #94d8e7 ;
}
.travel .post-title,
.travel a {
  color: #94d8e7;
}
.travel form input,
.travel form textarea {
  border: 2px solid #94d8e7 !important;
}
.travel form label,
.travel form p {
  color: #94d8e7 !important;
}
.travel form input[type='submit'],
.travel form input[type='button'] {
  background-color: #94d8e7 !important;
}
.lifestyle li a {
  background-color: #f1b7cd;
}
.lifestyle .post-title,
.lifestyle a {
  color: #e07590;
}
.lifestyle form input,
.lifestyle form textarea {
  border: 2px solid #f1b7cd !important;
}
.lifestyle form label,
.lifestyle form p {
  color: #e07590 !important;
}
.lifestyle form input[type='submit'],
.lifestyle form input[type='button'] {
  background-color: #f1b7cd !important;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.toggle-header,
.toggle-header-footer {
  cursor: pointer;
  overflow: hidden;
}
.toggle-header label,
.toggle-header-footer label,
.toggle-header h5,
.toggle-header-footer h5 {
  color: #FFF;
  text-transform: uppercase;
  margin: 10px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
}
.toggle-header img,
.toggle-header-footer img {
  margin: 10px;
  float: right;
}
.pink-btn {
  background-color: pink;
}
.widget_title {
  font-family: 'Lobster Two', cursive;
  font-family: clipperScriptFat;
}
.notfound {
  color: #e07590;
  font-family: 'Lobster Two', cursive;
  font-family: clipperScriptFat;
}
iframe,
video {
  max-width: 100% !important;
}
.notice {
  color: red;
}
.watch-action {
  float: right !important;
  margin-top: 22px !important;
  margin-left: 5px !important;
  width: auto !important;
  height: auto !important;
}
.wti-clear {
  clear: none  !important;
}
/* ---------- Header ---------- */
#header {
  padding-top: 15px;
}
#main-navigation,
#sticky-main-navigation,
#footer-navigation {
  background-color: #f48fa3;
  padding: 0;
}
#main-navigation .menu-main-list,
#sticky-main-navigation .menu-main-list,
#footer-navigation .menu-main-list {
  display: none;
}
#main-navigation .menu-main-list .toggle-header,
#sticky-main-navigation .menu-main-list .toggle-header,
#footer-navigation .menu-main-list .toggle-header {
  text-align: center;
}
#main-navigation .menu-main-list .toggled-menu li,
#sticky-main-navigation .menu-main-list .toggled-menu li,
#footer-navigation .menu-main-list .toggled-menu li {
  border: 0;
  display: block;
  width: 100%;
}
#main-navigation .menu-main-list .toggled-menu li ul,
#sticky-main-navigation .menu-main-list .toggled-menu li ul,
#footer-navigation .menu-main-list .toggled-menu li ul {
  position: static;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 10px;
}
#main-navigation .menu-main-list .toggled-menu li ul li:hover,
#sticky-main-navigation .menu-main-list .toggled-menu li ul li:hover,
#footer-navigation .menu-main-list .toggled-menu li ul li:hover,
#main-navigation .menu-main-list .toggled-menu li ul li:focus,
#sticky-main-navigation .menu-main-list .toggled-menu li ul li:focus,
#footer-navigation .menu-main-list .toggled-menu li ul li:focus {
  background-color: #f2c4cd;
}
#main-navigation .menu-main-list .toggled-menu li ul li:hover > ul,
#sticky-main-navigation .menu-main-list .toggled-menu li ul li:hover > ul,
#footer-navigation .menu-main-list .toggled-menu li ul li:hover > ul,
#main-navigation .menu-main-list .toggled-menu li ul li:focus > ul,
#sticky-main-navigation .menu-main-list .toggled-menu li ul li:focus > ul,
#footer-navigation .menu-main-list .toggled-menu li ul li:focus > ul {
  display: block;
}
#main-navigation .menu-main-list .toggled-menu li ul li:hover > a,
#sticky-main-navigation .menu-main-list .toggled-menu li ul li:hover > a,
#footer-navigation .menu-main-list .toggled-menu li ul li:hover > a,
#main-navigation .menu-main-list .toggled-menu li ul li:focus > a,
#sticky-main-navigation .menu-main-list .toggled-menu li ul li:focus > a,
#footer-navigation .menu-main-list .toggled-menu li ul li:focus > a {
  background-position: center;
  background-color: #f2c4cd;
  color: #e07086;
}
#main-navigation .menu-main-list-footer,
#sticky-main-navigation .menu-main-list-footer,
#footer-navigation .menu-main-list-footer {
  display: none;
}
#main-navigation .menu-main-list-footer .toggle-header-footer,
#sticky-main-navigation .menu-main-list-footer .toggle-header-footer,
#footer-navigation .menu-main-list-footer .toggle-header-footer {
  text-align: center;
}
#main-navigation .menu-main-list-footer .toggled-menu-footer li,
#sticky-main-navigation .menu-main-list-footer .toggled-menu-footer li,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li {
  border: 0;
  display: block;
  width: 100%;
}
#main-navigation .menu-main-list-footer .toggled-menu-footer li ul,
#sticky-main-navigation .menu-main-list-footer .toggled-menu-footer li ul,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li ul {
  position: static;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 10px;
}
#main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover,
#sticky-main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover,
#main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus,
#sticky-main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus {
  background-color: #f2c4cd;
}
#main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover > ul,
#sticky-main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover > ul,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover > ul,
#main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus > ul,
#sticky-main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus > ul,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus > ul {
  display: block;
}
#main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover > a,
#sticky-main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover > a,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li ul li:hover > a,
#main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus > a,
#sticky-main-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus > a,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li ul li:focus > a {
  background-position: center;
  background-color: #f2c4cd;
  color: #e07086;
}
#main-navigation .main-list,
#sticky-main-navigation .main-list,
#footer-navigation .main-list,
#main-navigation .main-list-footer,
#sticky-main-navigation .main-list-footer,
#footer-navigation .main-list-footer {
  display: block;
}
#main-navigation ul,
#sticky-main-navigation ul,
#footer-navigation ul {
  float: left;
  width: 100%;
  position: relative;
  padding: 5px 0;
  margin: 0;
}
#main-navigation ul li,
#sticky-main-navigation ul li,
#footer-navigation ul li {
  cursor: pointer;
  float: left;
  padding: 0;
  width: 20%;
  position: relative;
  border: 1px solid #FFF;
}
#main-navigation ul li a,
#sticky-main-navigation ul li a,
#footer-navigation ul li a {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFF;
  position: relative;
  display: inline-block;
}
#main-navigation ul li a span,
#sticky-main-navigation ul li a span,
#footer-navigation ul li a span {
  margin: 15px 0px;
  width: 50%;
  display: inline-block;
}
#main-navigation ul li a span h5,
#sticky-main-navigation ul li a span h5,
#footer-navigation ul li a span h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
#main-navigation ul li a .en-wrap,
#sticky-main-navigation ul li a .en-wrap,
#footer-navigation ul li a .en-wrap {
  border-right: 1px dotted;
  text-align: center;
}
#main-navigation ul li a .cn-wrap,
#sticky-main-navigation ul li a .cn-wrap,
#footer-navigation ul li a .cn-wrap {
  text-align: center;
}
#main-navigation ul li a .en,
#sticky-main-navigation ul li a .en,
#footer-navigation ul li a .en {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
#main-navigation ul li a .cn,
#sticky-main-navigation ul li a .cn,
#footer-navigation ul li a .cn {
  overflow: hidden;
  text-align: center;
}
#main-navigation ul li ul,
#sticky-main-navigation ul li ul,
#footer-navigation ul li ul {
  z-index: 2;
  display: none;
  position: absolute;
  margin-left: 0;
  background-color: #f2c4cd;
  padding-bottom: 0;
}
#main-navigation ul li ul li,
#sticky-main-navigation ul li ul li,
#footer-navigation ul li ul li {
  float: none;
  white-space: nowrap;
  text-align: center;
  position: relative;
  width: 100%;
  border: 0;
  padding: 5px 15px;
}
#main-navigation ul li ul li a,
#sticky-main-navigation ul li ul li a,
#footer-navigation ul li ul li a {
  width: 100%;
}
#main-navigation ul li ul li a > label,
#sticky-main-navigation ul li ul li a > label,
#footer-navigation ul li ul li a > label,
#main-navigation ul li ul li a > h5,
#sticky-main-navigation ul li ul li a > h5,
#footer-navigation ul li ul li a > h5 {
  float: left;
  line-height: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}
#main-navigation ul li ul li a > img,
#sticky-main-navigation ul li ul li a > img,
#footer-navigation ul li ul li a > img {
  float: right;
}
#main-navigation ul li ul li a::after,
#sticky-main-navigation ul li ul li a::after,
#footer-navigation ul li ul li a::after {
  content: "";
  position: absolute;
  right: 0px;
  color: #283036;
}
#main-navigation ul li ul li:hover,
#sticky-main-navigation ul li ul li:hover,
#footer-navigation ul li ul li:hover,
#main-navigation ul li ul li:focus,
#sticky-main-navigation ul li ul li:focus,
#footer-navigation ul li ul li:focus {
  background-color: #e07590;
}
#main-navigation ul li ul li:hover > ul,
#sticky-main-navigation ul li ul li:hover > ul,
#footer-navigation ul li ul li:hover > ul,
#main-navigation ul li ul li:focus > ul,
#sticky-main-navigation ul li ul li:focus > ul,
#footer-navigation ul li ul li:focus > ul {
  display: block;
}
#main-navigation ul li ul li:hover > a,
#sticky-main-navigation ul li ul li:hover > a,
#footer-navigation ul li ul li:hover > a,
#main-navigation ul li ul li:focus > a,
#sticky-main-navigation ul li ul li:focus > a,
#footer-navigation ul li ul li:focus > a {
  background-position: center;
  background-color: #e07590;
}
#main-navigation ul li ul ul,
#sticky-main-navigation ul li ul ul,
#footer-navigation ul li ul ul {
  display: none;
}
#main-navigation ul li:first-child,
#sticky-main-navigation ul li:first-child,
#footer-navigation ul li:first-child {
  border-left: 0px;
}
#main-navigation ul li:last-child,
#sticky-main-navigation ul li:last-child,
#footer-navigation ul li:last-child {
  border-right: 0px;
}
#main-navigation ul li:hover,
#sticky-main-navigation ul li:hover,
#footer-navigation ul li:hover,
#main-navigation ul li:focus,
#sticky-main-navigation ul li:focus,
#footer-navigation ul li:focus {
  background-color: #f2c4cd;
}
#main-navigation ul li:hover ul,
#sticky-main-navigation ul li:hover ul,
#footer-navigation ul li:hover ul,
#main-navigation ul li:focus ul,
#sticky-main-navigation ul li:focus ul,
#footer-navigation ul li:focus ul {
  display: block;
}
#main-navigation .menu-main-list .toggled-menu li,
#sticky-main-navigation .menu-main-list .toggled-menu li,
#footer-navigation .menu-main-list-footer .toggled-menu-footer li {
  display: none;
}
#sticky-main-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}
/* ---------- Main Container ---------- */
#main-container {
  background-color: #eceded ;
  overflow: hidden;
}
#main-container .content {
  padding-top: 40px;
  padding-bottom: 40px;
}
#main-container .content .like-img-holder {
  display: none;
}
#main-container .content .theme-email-content .post-title a,
#main-container .content .theme-email-content .post-title h3 {
  font-family: 'Roboto Condensed', sans-serif;
}
#main-container .content .monthly-posts h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
#main-container .content p.archives-posts {
  margin-left: 20px;
}
#main-container .content p.archives-posts img {
  margin: 0 10px;
  display: inline-block;
}
#main-container .content p.archives-posts a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
#main-container .content article {
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
#main-container .content article img {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#main-container .content article:first-child {
  padding-top: 40px;
}
#main-container .content article:last-child {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#main-container .content article .more-link {
  float: right;
}
#main-container .content article .postinfo ul.post-categories {
  overflow: hidden;
}
#main-container .content article .postinfo ul.post-categories li {
  float: left;
  margin: 0 5px;
}
#main-container .content article .postinfo ul.post-categories li a {
  color: #FFF;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-family: clipperScriptFat;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
#main-container .content article .post-title {
  font-weight: 600;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
}
#main-container .content article .post-date {
  color: #a9a9ac;
}
#main-container .content article .entry .gallery-item {
  display: none;
}
#main-container .content article .entry form input,
#main-container .content article .entry form textarea {
  border: 2px solid #e07590;
  width: 100%;
  padding: 10px;
}
#main-container .content article .entry form input {
  height: 50px;
}
#main-container .content article .entry form label,
#main-container .content article .entry form p {
  color: #e07590;
}
#main-container .content article .entry form span {
  font-size: 16px;
  color: #e07590;
}
#main-container .content article .entry form input[type='submit'],
#main-container .content article .entry form input[type='button'] {
  background-color: #e07590;
  color: #FFF;
  float: right;
  width: 100px;
}
#main-container .content article .entry .qr-code {
  display: none;
}
#main-container .content article .entry .post-icons {
  overflow: hidden;
}
#main-container .content article .entry .post-icons .list {
  float: left;
  margin: 5px 5px;
}
#main-container .content article .entry .post-icons .mail {
  padding-top: 4px;
}
#main-container .content article .entry .the_champ_horizontal_sharing {
  float: left;
  margin-top: 10px;
}
#main-container .content article p {
  font-size: 16px;
}
#main-container .content article .gallery {
  position: relative;
}
#main-container .content article .gallery .custom-gallery-prev {
  position: absolute;
  top: 200px;
  left: 20px;
  cursor: pointer;
}
#main-container .content article .gallery .custom-gallery-next {
  position: absolute;
  top: 200px;
  right: 20px;
  cursor: pointer;
}
#main-container .content article .gallery .custom-gallery-nav {
  display: none;
}
#main-container .content article .gallery .show-gallery-item {
  display: block;
}
#main-container .content article .gallery .hide-gallery-item {
  display: none;
}
#main-container .content article .gallery:nth-child(2) {
  display: none;
}
#main-container .sidebar {
  padding-top: 40px;
  padding-bottom: 40px;
}
#main-container .sidebar .profile-picture .title {
  color: #e07590;
  padding-bottom: 15px;
}
#main-container .sidebar aside {
  background-color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
#main-container .sidebar aside .widget_title {
  color: #e07590;
  text-align: center;
}
#main-container .sidebar aside img {
  max-width: 80%;
}
#main-container .sidebar aside form,
#main-container .sidebar aside .email_sub_form {
  text-align: center;
}
#main-container .sidebar aside form .form-field,
#main-container .sidebar aside .email_sub_form .form-field {
  position: relative;
}
#main-container .sidebar aside form .form-field img,
#main-container .sidebar aside .email_sub_form .form-field img {
  position: absolute;
}
#main-container .sidebar aside form input,
#main-container .sidebar aside .email_sub_form input {
  clear: none;
  border: 2px solid #e07590;
  /*border-radius: 10px;*/
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  background-position: right;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-x: 98%;
}
#main-container .sidebar aside form label,
#main-container .sidebar aside .email_sub_form label {
  color: #c4c4c4;
  font-size: 12px;
  padding-top: 5px;
}
#main-container .sidebar aside .email_sub_form input[type='button'] {
  background-color: #eceded;
}
#main-container .sidebar aside .email_sub_form input[type='button'] input {
  clear: both;
  border: 2px solid #e07590;
  /*border-radius: 10px;*/
  padding-left: 15px;
  padding-right: 20px;
  max-width: 100%;
  background-position: right;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-x: 98%;
}
#main-container .sidebar aside .social-media {
  overflow: hidden;
}
#main-container .sidebar aside .social-media img {
  border-right: 0px;
  margin-right: 0;
}
#main-container .sidebar aside .social-media a {
  border-right: 0;
}
#main-container .sidebar aside .social-media .thumbnail {
  border: 0px;
}
#main-container .sidebar aside .social-media .account {
  line-height: 110px;
  padding: 0px;
  text-align: left;
}
#main-container .sidebar aside .social-media .account p {
  font-size: 18px;
  color: #e07590;
  font-family: 'Roboto Condensed', sans-serif;
}
#main-container .sidebar aside .archives .widget_title {
  font-family: 'Lobster Two', cursive;
  font-family: clipperScriptFat;
  margin-bottom: 10px;
  font-size: 36px;
  letter-spacing: 1px;
  color: #eda6bf;
}
#main-container .sidebar aside .archives .archives-posts a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#main-container .sidebar aside .categories .widget_title {
  font-family: 'Lobster Two', cursive;
  font-family: clipperScriptFat;
  margin-bottom: 10px;
  font-size: 36px;
  letter-spacing: 1px;
  color: #eda6bf;
}
#main-container .sidebar aside .categories h4 {
  font-family: 'Ubuntu Condensed', sans-serif;
}
#main-container .sidebar aside .categories .cat-row {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
#main-container .sidebar aside .categories .cat-row h4 {
  float: left;
  text-transform: uppercase;
}
#main-container .sidebar aside .categories .cat-row h4 a {
  font-size: 32px;
  font-family: 'Roboto Condensed', sans-serif;
}
#main-container .sidebar aside .categories .cat-row img {
  float: right;
}
#main-container .sidebar aside .categories .beauty a {
  color: #e07590;
}
#main-container .sidebar aside .categories .fashion a {
  color: #8b28aa;
}
#main-container .sidebar aside .categories .travel a {
  color: #94d8e7;
}
#main-container .sidebar aside .categories .lifestyle a {
  color: #90d0b2;
}
#main-container .sidebar .aside-form {
  padding-top: 5px;
  padding-bottom: 5px;
}
#main-container .sidebar .tophits .top-post {
  margin-top: 15px;
  margin-bottom: 15px;
}
#main-container .sidebar .tophits .top-post h4 {
  margin-bottom: 0px;
  color: #b1a9ac;
  font-family: 'Roboto Condensed', sans-serif;
}
#main-container .sidebar .tophits .top-post .hr-styled img {
  height: 5px;
  width: 100%;
  margin-top: 15px;
}
#main-container .sidebar .tophits .top-post .post-thumb iframe,
#main-container .sidebar .tophits .top-post .post-thumb video {
  max-width: 80% !important;
}
#main-container .sidebar .tophits img {
  max-width: 80%;
}
#main-container .sidebar .tophits h5 {
  text-transform: uppercase;
  color: #c4c4c4;
}
#main-container .sidebar .tophits a label {
  color: #e07590;
}
#main-container .sidebar .tophits .embedded_sidebar_video {
  width: 100%;
}
#main-container .sidebar .tophits .embedded_sidebar_video iframe,
#main-container .sidebar .tophits .embedded_sidebar_video video {
  max-width: 80%;
}
/* ---------- Comment section ---------- */
.comments {
  background-color: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
}
.comments .commentlist {
  overflow: hidden;
  padding-bottom: 20px;
}
.comments .commentlist .comment {
  margin-top: 5px;
  padding-bottom: 15px;
  border-bottom: 2px dotted pink;
}
.comments .commentlist .comment-container {
  padding: 0;
  padding-top: 20px;
}
.comments .commentlist .comment-container .comment-content .date {
  color: #a2a2a2;
  font-size: 14px;
}
.comments .commentlist .comment-container .comment-content .reply {
  margin-bottom: 10px;
  float: right;
}
.comments .commentlist .comment-container .comment-image {
  max-width: 100%;
  text-align: center;
}
.comments .commentlist .comment-container .comment-image .user {
  text-transform: capitalize;
  margin-top: 10px;
  color: pink;
}
.comments .commentlist ul.children {
  overflow: hidden;
  float: left;
  width: 100%;
}
.comments .reply-section {
  overflow: hidden;
}
.comments .reply-section .comment-respond .reply-header {
  margin-bottom: 10px;
}
.comments .reply-section .comment-respond .reply-header a {
  text-transform: capitalize;
  color: pink;
}
.comments .reply-section .comment-respond .reply-header .cancel {
  float: right;
  margin-right: 5px;
  font-size: 14px;
}
.comments .reply-section .comment-respond .reply-header .cancel a {
  color: #23527c;
}
.comments .reply-section .comment-respond .comment-form textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid pink;
  padding: 10px;
  resize: none;
}
.comments .reply-section .comment-respond .comment-form .btn {
  color: #FFF;
}
.comments .comment-form span {
  font-size: 16px;
  color: #e07590;
}
.comments .comment-form textarea {
  border: 2px solid #f1b7cd !important;
}
.comments .comment-form p input[type='text'],
.comments .comment-form p input[type='email'] {
  width: 100%;
  border: 2px solid #f1b7cd !important;
}
.comments .comment-form p input[type='submit'] {
  float: right;
  height: 50px;
  border-radius: 0;
}
/* ---------- Footer ---------- */
#footer {
  margin-top: 60px;
}
#footer #footer-navigation {
  background-color: #FFF;
  text-align: center;
  overflow: hidden;
  margin: auto;
}
#footer #footer-navigation ul {
  width: 92%;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f48fa3;
  margin-left: 4%;
}
#footer #footer-navigation ul li a span label {
  font-size: 14px;
}
#footer .copyrights-wrapper {
  padding-top: 50px;
  padding-bottom: 150px;
  width: 100%;
  color: #e07590;
  text-transform: uppercase;
  text-align: center;
}
#footer .copyrights-wrapper h4 {
  font-size: 12px;
}
.bg-lower-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 990px;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 776px) {
  #main-container .content .gallery .custom-gallery-nav {
    display: block;
    opacity: 0.7;
  }
  #main-container .content .gallery .custom-gallery-nav.custom-gallery-prev,
  #main-container .content .gallery .custom-gallery-nav.custom-gallery-next {
    top: 100px;
  }
  #main-navigation .menu-main-list,
  #footer-navigation .menu-main-list,
  #sticky-main-navigation .menu-main-list,
  #main-navigation .menu-main-list-footer,
  #footer-navigation .menu-main-list-footer,
  #sticky-main-navigation .menu-main-list-footer {
    display: block;
  }
  #main-navigation .toggled-menu li,
  #footer-navigation .toggled-menu li,
  #sticky-main-navigation .toggled-menu li,
  #main-navigation .toggled-menu-footer li,
  #footer-navigation .toggled-menu-footer li,
  #sticky-main-navigation .toggled-menu-footer li {
    display: none;
  }
  #main-navigation .main-list,
  #footer-navigation .main-list,
  #sticky-main-navigation .main-list,
  #main-navigation .main-list-footer,
  #footer-navigation .main-list-footer,
  #sticky-main-navigation .main-list-footer {
    display: none;
  }
  .comments .commentlist .comment-container .comment-image {
    display: none;
  }
  .content .archives {
    text-align: center;
  }
  #main-container .content p.archives-posts {
    margin-left: 0;
  }
  #search-form input[type='text'],
  #es_txt_email_pg {
    max-width: 80% !important;
  }
}
@media only screen and (max-width: 338px) {
  #main-container .sidebar aside .social-media .thumbnail,
  #main-container .sidebar aside .social-media .account {
    width: 100%;
    text-align: center;
  }
  #main-container .sidebar aside .social-media .thumbnail {
    margin-bottom: -30px;
  }
  #main-container .sidebar aside .social-media .thumbnail img,
  #main-container .sidebar aside .social-media .account img {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 388px) {
  #main-container .sidebar aside .categories .cat-row h4 {
    width: 100%;
  }
  #main-container .sidebar aside .categories .cat-row img {
    float: none;
  }
}
