
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/*****
Theme Name: Beauty
Theme URI: 
Author: Ahmed I.
Description: Beauty Blog theme
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: googlefootball
Domain Path: /languages/
*****/
 /* ---------- RESET ---------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input {
	margin: 0;
	padding: 0;	
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 100%;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
	list-style-type: none;
}

input, textarea {
	outline: none;
}

strong {
	font-weight: bold;
}

.fr { float: right; }
.fl { float: left; }
.clear { clear: both; }

a {
	text-decoration: none;
}

a:hover{
	text-decoration: none !important;
}

p a, span a, h5 a {
	color: @link-color;
	
	&:hover {
		color: @dark-color;
	}
}

.fancy-hr {
	border: none;
	height: 1px;
	background: lighten(@border-color, 5%);
	.box-shadow(0px, 0px, 7px, @border-color);
	margin: 3em 0;
}

article img{ height: auto !important;}





/* ---------- PARAMETRIC MIXINS ---------- */
.round (@radius: 5px) {
	-webkit-border-radius: @radius;
	border-radius: @radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.gradient (@from, @to) {
	background-color: @from;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image:    -moz-linear-gradient(top, @from, @to);
	background-image:      -o-linear-gradient(top, @from, @to);
	background-image:         linear-gradient(to bottom, @from, @to);
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
	-webkit-box-shadow: @arguments;
	box-shadow: @arguments;
}

.inner-shadow (inset, @x: 0, @y: 0, @blur: 1px, @color: #000) { 
	-webkit-box-shadow: @arguments;
	box-shadow: @arguments;
}

.text-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
     text-shadow: @arguments;
}

.transition (@duration: 0.2s, @ease: ease-out) {
	-webkit-transition: all @duration @ease;
	-moz-transition: all @duration @ease;
	-o-transition: all @duration @ease; 
	transition: all @duration @ease;
}

/* VARIABLES */
@link-color: #4599C8;
@dark-color: #2b3039;
@border-color: #D7D7D7;
@bevel-color: #FAFAFA;
@light-text-color: #c9c9c9;
@text-color: #5b5b5b;
@heading-font: "Bree Serif", Arial, sans-serif;
@serif-font: Georgia, serif;
@body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@gray-color: #F1F1F1;

/* ---------- General ---------- */

@font-face {
    font-family: clipperScript;
    src: url(fonts/Clipper_Script.ttf);
}
@font-face {
    font-family: clipperScriptFat;
    src: url(fonts/Clipper_Script_fat.ttf);
    font-weight: bold;
}
body{
	position: relative;
	//background: url("img/bg-strip.png") repeat-y;
	background: #fbe1e4;
	background: -moz-linear-gradient(left,  #fbe1e4 0%, #fef0ef 22%, #f9eef2 50%, #fcecec 73%, #fdeded 100%);
	background: -webkit-linear-gradient(left,  #fbe1e4 0%,#fef0ef 22%,#f9eef2 50%,#fcecec 73%,#fdeded 100%);
	background: linear-gradient(to right,  #fbe1e4 0%,#fef0ef 22%,#f9eef2 50%,#fcecec 73%,#fdeded 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe1e4', endColorstr='#fdeded',GradientType=1 );
	/*background-image: url("img/bg.png");
	background-repeat: repeat-y;
	background-position: center;
	background-color: #fcf0f2 !important;*/

} 

#gototop{
	position: fixed;
	right: 3%;
	bottom: 9%;
	z-index: 999999999999;
	cursor: pointer;
	display:none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.round-img{
	border: 2px solid #e07590;
    border-radius: 50%;
}

.beauty{
	li a{
		background-color: #f1b7cd;
	}
	.post-title, a{
		color: #e07590;
	}
	form{
		input,textarea{
			border: 2px solid #f1b7cd !important;
			
		}
		label,p{
			color: #e07590 !important;
		}
		input[type='submit'], input[type='button']{
			background-color: #f1b7cd !important;
		}
	}
}

.fashion{
	li a{
		background-color: #90d0b2 ;
	}
	.post-title, a{
		color: #90d0b2;
	}
	form{
		input,textarea{
			border: 2px solid #90d0b2 !important;
			
		}
		label,p{
			color: #90d0b2 !important;
		}
		input[type='submit'], input[type='button']{
			background-color: #90d0b2 !important;
		}
	}
	
}

.travel{
	li a{
		background-color: #94d8e7 ;
	}
	.post-title, a{
		color: #94d8e7;
	}
	form{
		input,textarea{
			border: 2px solid #94d8e7 !important;
			
		}
		label,p{
			color: #94d8e7 !important;
		}
		input[type='submit'], input[type='button']{
			background-color: #94d8e7 !important;
		}
	}
}

.lifestyle{
	li a{
		background-color: #f1b7cd;
	}
	.post-title, a{
		color: #e07590;
	}
	form{
		input,textarea{
			border: 2px solid #f1b7cd !important;
			
		}
		label,p{
			color: #e07590 !important;
		}
		input[type='submit'], input[type='button']{
			background-color: #f1b7cd !important;
		}
	}
}

.fr{
	float: right;
}
.fl{
	float:left;
}

.toggle-header, .toggle-header-footer{
	cursor:pointer;
	overflow: hidden;
	label, h5{
		color: #FFF;
		text-transform: uppercase;
		margin: 10px;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
		display:inline-block;
		font-family: 'Roboto Condensed', sans-serif;
	}
	img{
		margin: 10px;
		float: right;
	}
}

.pink-btn{
	background-color: pink;
}

.widget_title{
	font-family: 'Lobster Two', cursive;
	font-family: clipperScriptFat;
}

.notfound{
	color: #e07590;
    font-family: 'Lobster Two', cursive;
    font-family: clipperScriptFat;
}

iframe,video{
	max-width: 100% !important;
}

.notice{
	color: red;
}

.watch-action{
	    float: right !important;
    margin-top: 22px !important;
    margin-left: 5px !important;
        width: auto !important;
    height: auto !important;
}
.wti-clear{
	clear:none  !important;
}

/* ---------- Header ---------- */ 

#header{
	padding-top: 15px;
}

#main-navigation, #sticky-main-navigation, #footer-navigation{
	background-color: #f48fa3;
	padding: 0;
	.menu-main-list{
		display:none;
		.toggle-header{
			text-align: center;
		}
		.toggled-menu{
			li{
				border:0;
				display: block;
    			width: 100%;
    			ul{
    				position: static;
    				width: 80%;
    				margin-left:10%;
    				padding-bottom: 10px;
    				li{
	    				&:hover,&:focus{  //persistent effect for sub-lists
							background-color: #f2c4cd;
							>ul{	
								display: block;
							}
							>a{	// to keep parent highlighted ( persistent effect )
								background-position: center;
								background-color: #f2c4cd;	
								color: darken(#f2c4cd, 20%);

							}	
						}
					}
    			}
			}
		}
	}

	.menu-main-list-footer{
		display:none;
		.toggle-header-footer{
			text-align: center;
		}
		.toggled-menu-footer{
			li{
				border:0;
				display: block;
    			width: 100%;
    			ul{
    				position: static;
    				width: 80%;
    				margin-left:10%;
    				padding-bottom: 10px;
    				li{
	    				&:hover,&:focus{  //persistent effect for sub-lists
							background-color: #f2c4cd;
							>ul{	
								display: block;
							}
							>a{	// to keep parent highlighted ( persistent effect )
								background-position: center;
								background-color: #f2c4cd;	
								color: darken(#f2c4cd, 20%);
							}	
						}
					}
    			}
			}
		}
	}

	.main-list, .main-list-footer{
		display: block;
	}
	ul{
		float: left;
		width: 100%;
		position: relative;
		padding: 5px 0;
		margin: 0;
		li{
			cursor: pointer;
			float: left;
			padding: 0;
			width: 20%;
			position: relative;
			border: 1px solid #FFF;

			a{
				width: 100%;
				text-transform: uppercase;
				font-size: 14px;
				color: #FFF;
				position:relative;
				display:inline-block;
				span{
					margin: 15px 0px;
					width: 50%;
					display: inline-block;
					h5{
						font-weight: normal;
						margin: 0;
    					//margin-bottom: 5px;
    					padding:0;
    					width:100%;
    					font-family: 'Roboto Condensed', sans-serif;
					}
				}
				.en-wrap{
					border-right: 1px dotted;
					text-align: center;
				}
				.cn-wrap{
					text-align: center;
				}
				.en{
					
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;
					//margin-right: 1%;
				    //width: 80%;
				    //margin-left: 1%;
					//float:left;
				}
				.cn{
					//float: right;
					overflow: hidden;
					text-align: center;
				}
			}	
			ul{
				
				z-index: 2;
				display: none;
				position: absolute;
				margin-left: 0;
				background-color: #f2c4cd;
				padding-bottom: 0;
				li{
					float: none; //fixes borders' width
					white-space: nowrap;
					text-align: center;
					position: relative;
					width: 100%;
					border:0;
					padding: 5px 15px;
					a{
						width: 100%;
						>label, >h5{
							float: left;
							line-height: 40px;
							font-family: 'Roboto Condensed', sans-serif;
						}
						>img{
							float: right;
						}
						&::after{
							content: "";
							position:absolute;
							right: 0px;
							color: #283036;
						}
					}
					&:hover,&:focus{  //persistent effect for sub-lists
						background-color: #e07590;
						>ul{	
							display: block;
						}
						>a{	// to keep parent highlighted ( persistent effect )
							background-position: center;
							background-color: #e07590;	
						}	
					}

				}
				ul{
					display: none;
				}
			}	

			&:first-child{
				border-left: 0px;
			}
			&:last-child{
				border-right: 0px;
			}
			&:hover,&:focus{
				background-color: #f2c4cd;	
				ul{
					display: block;
					
				}
			}
		}
	}
}

#main-navigation .menu-main-list .toggled-menu, #sticky-main-navigation .menu-main-list .toggled-menu, #footer-navigation .menu-main-list-footer .toggled-menu-footer{
	li{
		display: none;
	}
}

#sticky-main-navigation{
	display:none;
	position: fixed;
	top: 0;
	left:0;
	z-index: 99999999;
}

/* ---------- Main Container ---------- */
#main-container{
	background-color: #eceded ;
	overflow: hidden;
	//padding: 48px 50px;
	.content{
		//background-color: #FFF;
		padding-top: 40px;
		padding-bottom: 40px;
		.like-img-holder{
			display: none;
		}
		#wp-email-content{
			p, p input{
				//font-family: 'Roboto Condensed', sans-serif;
			}
		}
		.theme-email-content{
			.post-title a, .post-title h3{
				font-family: 'Roboto Condensed', sans-serif;
			}
		}

		.monthly-posts h3{
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 400;
		}

		p.archives-posts{
			margin-left: 20px;
			img{
				//float:left;
				margin: 0 10px;
				display: inline-block;
			}
			a{
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 400;
				font-size: 16px;
    			text-transform: uppercase;
			}
		}
		article{
			background-color: #FFF;
			padding-top: 10px;
			padding-bottom: 10px;
			img{
				max-width: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			&:first-child{
				padding-top: 40px;
			}
			&:last-child{
				padding-bottom: 20px;
				margin-bottom: 20px;
			}

			.more-link{
				float:right;
			}

			.postinfo{
				ul.post-categories{
					overflow: hidden;
					li{
						float: left;
   						margin: 0 5px;
						a{
							color: #FFF;
							text-align: center;
							font-family: 'Lobster Two', cursive;
							font-family: clipperScriptFat;
    						font-size: 18px;
    						height: 40px;
    						line-height: 40px;
    						display: inline-block;
    						text-decoration: none;
    						padding-left: 5px;
    						padding-right: 5px;
						}
					}
				}
			}
			.post-title{
				font-weight: 600;
				font-family: 'Ubuntu Condensed', sans-serif;
				font-size: 28px;
    			letter-spacing: 2px;
			}
			.post-date{
				color:#a9a9ac;
			}
			.entry{
				.gallery-item{
					display: none;
				}
				form{
					input,textarea{
						border: 2px solid #e07590;
						width:100%;
						padding: 10px;
						
					}
					input{
						height: 50px;
					}
					label,p{
						color: #e07590;
					}
					span{
						font-size: 16px;
						color:#e07590;
					}
					input[type='submit'], input[type='button']{
						background-color: #e07590;
						color: #FFF;
						float: right;
						width: 100px;
					}
				}
				.qr-code{
					display: none;
				}
				.post-icons{
					overflow: hidden;
					.list{
						float: left;
						margin: 5px 5px;
					}
					.mail{
						padding-top: 4px;
					}
				}

				.the_champ_horizontal_sharing{
					float: left;
    				margin-top: 10px;
				}
			}

			p{
				font-size: 16px;
			}

			.gallery{
				position: relative;
				.custom-gallery-prev{
					position: absolute;
					top:200px;
					left: 20px;
					cursor: pointer;
				}
				.custom-gallery-next{
					position: absolute;
					top:200px;
					right: 20px;
					cursor: pointer;
				}
				.custom-gallery-nav{
					display:none;
				}
				.show-gallery-item{
					display: block;
				}
				.hide-gallery-item{
					display: none;
				}
			}
			.gallery:nth-child(2){
				display: none;
			}
		}
	}
	.sidebar{
		//background-color: #FFF;
		padding-top: 40px;
		padding-bottom: 40px;
		.profile-picture{
			.title{
				color:#e07590;
				padding-bottom: 15px;
			}
		}
		aside{
			background-color: #FFF;
			padding-top: 30px;
			padding-bottom: 30px;
			text-align: center;

			.widget_title{
				color: #e07590;
				text-align: center;
			}
			img{
				max-width: 80%;
			}

			form,.email_sub_form{
				text-align: center;
				.form-field{
					position: relative;
					img{
						position: absolute;
					}
				}
				input{
					clear: none;
					border: 2px solid #e07590;
					/*border-radius: 10px;*/
					padding-left: 15px;
					padding-right: 15px;
					max-width: 100%;
					background-position: right;
				    background-size: 15px 15px;
				    background-repeat: no-repeat;
				    background-position-x: 98%;
				}
				.es_textbox_class{
					//width: auto !important;
				}
				label
				{
					color: #c4c4c4;
					font-size: 12px;
					padding-top: 5px;
					//display: inline-block;
				}
			}

			.email_sub_form input[type='button']{
				background-color: #eceded;
				input{
					clear: both;
					border: 2px solid #e07590;
					/*border-radius: 10px;*/
					padding-left: 15px;
					padding-right: 20px;
					max-width: 100%;
					background-position: right;
				    background-size: 15px 15px;
				    background-repeat: no-repeat;
				    background-position-x: 98%;

				}
			}

			.social-media{
				overflow: hidden;
				img{
					border-right: 0px;
					margin-right:0;
				}
				a{
					border-right: 0;
				}

				.thumbnail{
					border:0px;
				}
				.account{
					line-height: 110px;
					padding: 0px;
					text-align: left;
					p{
						font-size: 18px;
						color: #e07590;
						font-family: 'Roboto Condensed', sans-serif;
					}
				}
			}
			.archives{
				.widget_title{
					font-family: 'Lobster Two', cursive;
					font-family: clipperScriptFat;
					margin-bottom: 10px;
					font-size: 36px;
					letter-spacing: 1px;
					color: #eda6bf;
				}
				.archives-posts{
					a{
						font-size: 24px;
    					font-family: 'Roboto Condensed', sans-serif;
					}
				}
			}
			.categories{
				.widget_title{
					font-family: 'Lobster Two', cursive;
					font-family: clipperScriptFat;
					margin-bottom: 10px;
					font-size: 36px;
					letter-spacing: 1px;
					color: #eda6bf;
				}
				h4{
					font-family: 'Ubuntu Condensed', sans-serif;
				}
				.cat-row{
					overflow: hidden;
					margin-top: 10px;
					margin-bottom:10px;
					h4{
						float: left;
						text-transform: uppercase;
						a{
							font-size: 32px;
							font-family: 'Roboto Condensed', sans-serif;
						}

					}
					img{
						float: right;
					}
				}
				.beauty{
					a{
						color: #e07590;
					}
				}
				.fashion{
					a{
						color: #8b28aa;
					}
				}
				.travel{
					a{
						color: #94d8e7;
					}
				}
				.lifestyle{
					a{
						color: #90d0b2;
					}
				}
			}
		}
		.aside-form{
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.tophits{
			.top-post{
				margin-top: 15px;
				margin-bottom: 15px;
				h4{
					margin-bottom: 0px;
					color: #b1a9ac;
					font-family: 'Roboto Condensed', sans-serif;
				}
				.hr-styled{
					img{
						height: 5px;
    					width: 100%;
    					margin-top: 15px;
					}
				}
				.post-thumb{
					iframe,video{
						max-width: 80% !important;
					}
				}
			}
			img{
				max-width: 80%;
			}
			h5{
				text-transform: uppercase;
				color: #c4c4c4;
			}
			a label{
				color: #e07590;
			}
			.embedded_sidebar_video{
				width: 100%;
				iframe,video{
					max-width: 80%;
				}
			}
		}
	}
} 

/* ---------- Comment section ---------- */ 

.comments{	
	background-color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	overflow: hidden;
	.commentlist
	{
		overflow: hidden;
		padding-bottom: 20px;
		.comment{
			margin-top: 5px;
			padding-bottom: 15px;
			border-bottom: 2px dotted pink;
		}
		.comment-container{
			padding:0;
			padding-top: 20px;
			.comment-content{
				.date{
					color: #a2a2a2;
					font-size: 14px;
				}
				.reply{
					margin-bottom: 10px;
					float: right;
				}

			}
			.comment-image{
				max-width: 100%;
				text-align: center;
				.user{
					text-transform: capitalize;
					margin-top: 10px;
					color:pink;

				}
			}
		}
		ul.children{
			overflow: hidden;
		    float: left;
		    width: 100%;
		}
	}
	.reply-section{
		overflow: hidden;
		.comment-respond{		
			.reply-header{
				margin-bottom: 10px;
				a{
					text-transform: capitalize;
					color: pink;
				}
				.cancel{
					float:right;
					margin-right: 5px;
					font-size: 14px;
					a{color: #23527c;}
				}
			}
			.comment-form{
				textarea{
					width: 100%;
					margin-bottom: 10px;
					border: 1px solid pink;
					padding: 10px;
					resize:none;
				}
				.btn{
					color: #FFF;
				}
			}
		}
	}
	.comment-form{
		span{
			font-size: 16px;
			color:#e07590;
		}
		textarea{
			border: 2px solid #f1b7cd !important;
		}
		p{
			
			input[type='text'],input[type='email']{
				width: 100%;
				border: 2px solid #f1b7cd !important;
			}
			input[type='submit']{
				float: right;
				height: 50px;
				border-radius: 0;
			}
		}
	}
}

/* ---------- Footer ---------- */
#footer{
	margin-top: 60px;
	//background: url("img/Emma-bottom.png") no-repeat;

	#footer-navigation{
		background-color: #FFF;
		text-align: center;
		overflow: hidden;
		margin: auto;
		ul{
			width: 92%;
			margin-top: 50px;
			margin-bottom: 50px;
			background-color: #f48fa3;
			margin-left: 4%;

			li a span label{font-size: 14px;}
		}
	}
	.copyrights-wrapper{
		padding-top: 50px;
		padding-bottom: 150px;
		width: 100%;
		color: #e07590;
		text-transform: uppercase;
		text-align: center;
		h4{
			font-size: 12px;
		}
	}
} 

.bg-lower-image{
	position: absolute;
	bottom: 0;
	z-index: -1;
	height: 990px;
	width: 100%;
	overflow: hidden;
}

@media only screen and (max-width: 776px) {

	#main-container .content .gallery .custom-gallery-nav{
		display:block;
		opacity: 0.7;
	}
	#main-container .content .gallery .custom-gallery-nav.custom-gallery-prev,#main-container .content .gallery .custom-gallery-nav.custom-gallery-next{
		top:100px;
	}
	#main-navigation, #footer-navigation, #sticky-main-navigation{
		.menu-main-list, .menu-main-list-footer{
			display:block;
		}
		.toggled-menu, .toggled-menu-footer{
			li{
				display: none;
			}
		}
		.main-list, .main-list-footer{
			display: none;
		}
	}

	.comments{	
		.commentlist
		{
			.comment-container{
				.comment-image{
					display: none;
				}
			}
		}

	}


	.content{
		.archives{
			text-align: center;
		}
	}

	#main-container .content p.archives-posts{
		margin-left: 0;
	}

	#search-form input[type='text'], #es_txt_email_pg{
		max-width: 80% !important;
	}
}

@media only screen and(max-width: 338px){
	#main-container .sidebar aside .social-media .thumbnail, #main-container .sidebar aside .social-media .account{
		width: 100%;
		text-align: center;
	}
	#main-container .sidebar aside .social-media .thumbnail{
		margin-bottom: -30px;
	}
	#main-container .sidebar aside .social-media .thumbnail img, #main-container .sidebar aside .social-media .account img{
			margin:auto;
		padding-left: 0;padding-right: 0;
	}
	
}

@media only screen and(max-width: 388px){
	#main-container .sidebar aside .categories .cat-row{
		h4{
			width: 100%;

		}
		img{
			float: none;
		}
	}
}
